process {
    executor = 'sge'
                clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/,'') }
                penv = 'OpenMP'// task.cpus automagically added
                maxRetries = 3
                errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
                time = '2h'
                memory = '1 GB'
                pollInterval = '30 sec'
                // beforeScript = 'source /mnt/projects/rpd/rc/init.2017-04'
    $porechop {
        time = '7 h'
        cpus = 1
        memory = { '16 GB' * task.attempt }
        errorStrategy = 'finish'
    }
}
