mail {
    smtp.host = 'localhost'
    //smtp.port = 475
    smtp.user = 'GIS'
}


process {
  executor = 'sge'
         penv = 'OpenMP'// task.cpus automagically added
         maxRetries = 3
         errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
         time = '2h'
         memory = '1 GB'
         pollInterval = '30 sec'
         // beforeScript = 'source /mnt/projects/rpd/rc/init.2017-04'

  exitReadTimeout = "120 sec"
  cpus = 2
  memory = { 2.GB * task.attempt }
  time = { 2.h * task.attempt }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel:process_low {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  withLabel:process_lowCPU_highRAM {
    cpus = { 1 * task.attempt }
    memory = { 20.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  withLabel:process_medium {
    cpus = { 4 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 8.h * task.attempt }
  }
  withLabel:process_high {
    cpus = { 8 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 16.h * task.attempt }
  }
  withLabel:process_long {
    time = { 8.h * task.attempt }
  }
}

// Executor configuration
executor {
  $local {
  	 cpus = 1
	 memory = 128.GB
  }
}
